@model Books
@{
    ViewData["Title"] = "Books";
}

<h1>Register Books</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name_book" class="form-label"></label>
        <input type="text" asp-for="Name_book" class="form-control" />
        <span asp-validation-for="Name_book" class="text-danger"> </span>
    </div>
    @*<div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input type="text" asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="text" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"> </span>
    </div>*@
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
      <partial name="_ValidationScriptsPartial"/>
    }